@import "reset.css";

@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(2deg) scaleY(1.05);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg) scaleY(0.9);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("babam.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  width: 800px;
  z-index: 10;
}

.wrapper {
  width: 600px;
  height: 600px;
  position: relative;
  z-index: 10;
}

.first {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 500px;
  height: 200px;
  background-color: white;
  overflow: hidden;
  border: 8px solid black;
  border-radius: 80px 80px 0 0;
}

.second {
  position: absolute;
  bottom: 208px;
  left: 122px;
  width: 340px;
  height: 150px;
  background-color: white;
  border: 8px solid black;
  border-radius: 50px 50px 0 0;
  overflow: hidden;
}

.candleStick {
  position: absolute;
  top: 140px;
  left: 284px;
  width: 16px;
  height: 80px;
  background-color: #ea7863;
  border: 8px solid black;
}

.red {
  width: 24px;
  height: 24px;
  background-color: orangered;
  box-shadow: 0px 0px 3px 3px orangered;
}

.orange {
  width: 18px;
  height: 18px;
  left: 3px;
  background-color: orange;
  box-shadow: 0px 0px 3px 3px orange;
}

.gold {
  width: 14px;
  height: 14px;
  left: 5px;
  background-color: gold;
  box-shadow: 0px 0px 3px 3px gold;
}

.yellow {
  width: 12px;
  height: 12px;
  left: 6px;
  background-color: lightyellow;
  box-shadow: 0px 0px 3px 3px lightyellow;
}

.flame {
  position: absolute;
  bottom: 0;
  border-radius: 50% 0% 50% 50%;
  transform: rotate(-45deg);
}

.flameWrapper {
  position: absolute;
  top: 130px;
  left: 288px;
  animation: flicker 0.3s ease-in infinite alternate;
}
